

h1.name{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: "Tahoma" ,Verdana,Segoe,sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #595959;


}

h1.header{
    position: fixed;
    top: 15;
    width: 100%;
    text-align: center;
    font-family: "Tahoma" ,Verdana,Segoe,sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #404040;

}

h1.section{
    text-align: left;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", 
Garamond, "Times New Roman", serif;;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #595959;
}

h1.jobname{
    text-align: left;
    font-family: "Tahoma" ,Verdana,Segoe,sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #595959;
}

h1.titledate{
    text-align: left;
    font-family: "Tahoma" ,Verdana,Segoe,sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #595959;

}

h2.description{
    text-align: left;
    font-family: "Tahoma" ,Verdana,Segoe,sans-serif;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 0.05em;
    color: #595959;
    line-height: normal;
}

div.resume {
    margin-top: 30px; 
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

div.bio {
    margin-top: 30px; 
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

ul.a {
    list-style-type: circle;
}

img {
    max-width: 30%;
    diplay: block;
    margin-left: 20%;
    margin-right: 50;
}

div.link{
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left:10%;
    margin-right:10%;
}

